<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<div class="pagination" th:fragment="pagination-fragment(pageable)">
    <th:block th:if="${pageable.totalElements > 0}"
              th:with="currentPage = ${pageable.number+1}, urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()},
                    tempEndPagination = ${pageable.totalPages <= 5 ? pageable.totalPages : (currentPage > pageable.totalPages - 2 ? pageable.totalPages : currentPage + 2)},
                    startPagination = ${pageable.totalPages <= 5 ? 1 : (tempEndPagination == pageable.totalPages ? tempEndPagination - 4 : (currentPage < 3 ? 1 : currentPage - 2))},
                    endPagination = ${tempEndPagination - startPagination < 4 && startPagination + 4 > pageable.totalPages ? pageable.totalPages : startPagination + 4}">
        <a class="pagination__btn pagination__first"
           th:href="@{${urlBuilder.replaceQueryParam('page', 0).toUriString()}}">첫 페이지</a>
        <a class="pagination__btn pagination__prev"
           th:href="@{${urlBuilder.replaceQueryParam('page', pageable.previousOrFirstPageable.pageNumber).toUriString()}}">이전 페이지</a>
        <div class="pagination__num">
            <a th:each="num : ${#numbers.sequence(startPagination, endPagination)}"
               th:href="@{${urlBuilder.replaceQueryParam('page', num-1).toUriString()}}"
               th:classappend="${currentPage == num} ? 'is-active'">
                <span th:text="${num}">1</span>
            </a>
        </div>
        <a class="pagination__btn pagination__next"
           th:href="@{${urlBuilder.replaceQueryParam('page', pageable.nextOrLastPageable.pageNumber).toUriString()}}">다음 페이지</a>
        <a class="pagination__btn pagination__last"
           th:href="@{${urlBuilder.replaceQueryParam('page', pageable.totalPages-1).toUriString()}}">마지막 페이지</a>
    </th:block>
</div>

</html>