body{
    background-color: ivory;
}
.content{
    max-width: 100%;
    margin: 30 auto;
    justify-content: center;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    flex-direction: column;
    align-items: center;

}
.item{
    min-height: 100px;
    flex-basis: 100%;
    flex-grow: 5;
}

th, td, select {
    width: 150px;
}
table, input, td, th, select {
    text-align: center;
}

th{
    background-color: skyblue;
    border: 1px solid #444444;
    padding: 10px;
}
td{
    background-color: lightgrey;
    border: 1px solid #444444;
    padding: 10px;
}
