<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/common :: head('스테픈')"></div>
    <link href="calculator.css" th:href="@{/css/calculator.css}" rel="stylesheet">
    <title th:text="${title}">Hello!</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('stepn')">
    </nav>

    <section class="content">
        <div class="flexbox">

            <p><strong>체인선택</strong></p>
            <!--체인선택-->
            <div class="item">
                <label class="label-radio" for="radioSol"><span>솔라나 체인</span></label><input type="radio" id="radioSol" name="gstType" value="sol" checked="">
                <label class="label-radio" for="radioBsc"><span>바이낸스 체인</span></label><input type="radio" id="radioBsc" name="gstType" value="bsc">
            </div>

            <p><strong>체인시세</strong></p>
            <!--체인시세-->
            <div class="item">
                <table>
                    <tbody>
                    <tr>
                        <th>
                            <span class="chainMainTitle" id="chainMainTitle">SOL</span>
                        </th>
                        <th>
                            <span class="chainGstTitle">GST</span>
                        </th>
                        <th>
                            <span class="chainGmtTitle">GMT</span>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <span class="chainMainUsd" id="mainUsd">로딩 중</span>
                        </td>
                        <td>
                            <span class="chainGstUsd" id="gstUsd">로딩 중</span>
                        </td>
                        <td>
                            <span class="chainGmtUsd" id="gmtUsd">로딩 중</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="chainMainKrw" id="mainKrw">로딩 중</span>
                        </td>
                        <td>
                            <span class="chainGstKrw" id="gstKrw">로딩 중</span>
                        </td>
                        <td>
                            <span class="chainGmtKrw" id="gmtKrw">로딩 중</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="compareMain" type="number" id="compareMain" value="1" oninput="InputChangeMain()">
                        </td>
                        <td>
                            <input class="compareGst" type="number" id="compareGst" oninput="InputChangeGst()">
                        </td>
                        <td>
                            <input class="compareGmt" type="number" id="compareGmt" oninput="InputChangeGmt()">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p><strong>민팅계산기</strong></p>
            <!--민팅테이블-->
            <div class="item">
                <table class="mintCompareTable" id="mintCompareTable">
                    <tbody>
                        <tr>
                            <th>구분</th>
                            <th>내용</th>
                            <th>GST</th>
                            <th>GMT</th>
                        </tr>
                        <tr>
                            <th>5레벨링 비용</th>
                            <td><input type="checkbox" id="isLvlUp" checked="" onclick="MintRatioCalculator()"><label for="isLvlUp">적용여부</label></td>
                            <td><span id="lvlUpGst">20</span></td>
                            <td><span id="lvlUpGmt">10</span></td>
                        </tr>
                        <tr>
                            <th rowspan="2">1회 민팅비용</th>
                        </tr>
                        <tr id="sneakers1">
                            <td>
                                <select id="isCommonUncommon" class="selectType" onchange="MintRatioCalculator()">
                                    <option value="common">커먼&커먼</option>
                                    <option value="uncommon">언커먼&언커먼</option>
                                </select>
                                <select id="firstMintCount" onchange="MintRatioCalculator()">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <select id="secondMintCount" onchange="MintRatioCalculator()">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </td>
                            <td>
                                <span id="gstMint">-</span>
                            </td>
                            <td>
                                <span id="gmtMint">-</span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">총 민팅 지출비용</th>
                            <td><span id="totalCostGst">0</span></td>
                            <td><span id="totalCostGmt">0</span></td>
                        </tr>
                        <tr class="totalMintCostKrw">
                            <th colspan="2">총 민팅 지출비용(KRW)</th>
                            <th colspan="2"><span id="totalMintCostKrw">0</span>원</th>
                        </tr>
                        <tr>
                            <th colspan="2">신발 바닥가(SOL or BNB)</th>
                            <td colspan="2">
                                <input type="number" id="floorPrice" value="3" step="0.1" oninput="MintRatioCalculator()"/>
                            </td>
                        </tr>
                        <tr>
                            <th>판매 수수료(KRW)</th>
                            <th>6%</th>
                            <td colspan="2"><span id="salesCostKrw">0</span>원</td>
                        </tr>
                        <tr class="totalProfitKrw">
                            <th colspan="2">총 이익비용(KRW)</th>
                            <th colspan="2"><span id="totalProfitKrw">0</span>원</th>
                        </tr>
                        <tr class="profitKrw">
                            <th colspan="2">총 손익비용(KRW)</th>
                            <th colspan="2"><span id="profitKrw">0</span>원</th>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div><!--flexBox-->
    </section><!--content-->

    <footer th:replace="fragments/common :: footer"></footer>

    <script type="text/javascript" th:inline="javascript" th:src="@{/js/calculator.js}"></script>
</body>

</html>